:root
{
    /*paleta utilizada https://coolors.co/223843-eff1f3-dbd3d8-d8b4a0-d77a61 */
    --primary: white;
    --secondary: #223843;
}

@font-face{
    /*fuente https://fonts.google.com/specimen/Libre+Baskerville? */
    font-family: 'main-font';
    src: url('../assets/fonts/LibreBaskerville-Regular.ttf');
}

body{
    background: var(--primary);
    font-family: 'main-font';
    font-size: 15px;
}

/*base*/
body, p, a, ul, li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;;
}

.content{
    display: grid;
    max-width: 98%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 10px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "section section section section"
    "footer footer footer footer";
}

header{
    border-bottom: 3px solid var(--secondary);
    grid-area: header;
    color: #000;
}

nav{
    grid-area: nav;
}

nav ul li{
    border: 1px solid black;
}

main{
    grid-area: main;
}

main h2{
    text-align: center;
}

section{
    grid-area: section;
}

section h2{
    text-align: center;
}

footer{
    grid-area: footer;
}


